<div class="detail">
    <div class="picture">
        <img src="" alt="">
    </div>
    <div class="detail-page">
        <div class="picture-page">
            <img src="" alt="">
        </div>
        <div class="detail-row">
            <div>
                <div><span>品牌</span><em>111111</em></div>
                <div><span>型号</span><em>111111</em></div>
                <div><span>名称</span><em>111111</em></div>
                <div><span>颜色</span><em>111111</em></div>
            </div>
            <div>
                <div><span>公司</span><em>111111</em></div>
                <div><span>风格</span><em>111111</em></div>
                <div><span>产地</span><em>111111</em></div>
                <div><span>配送时间</span><em>111111</em></div>
            </div>
        </div>
        <div>
            <span>尺寸</span><em>111111</em>
        </div>
        <div class="detail-row">
            <div><span>发货周期</span><em>111111</em></div>
            <div><span>售后服务</span><em>111111</em></div>
        </div>
        <div><span>产品材质</span><em>111111</em></div>
        <div><span>产品包装</span><em>111111</em></div>
    </div>
</div>