<div class="sales">
    <nz-table [nzShowTotal]="rangeTemplate" #rowSelectionTable [nzData]="list" [nzPageIndex]='nowPage' [nzTotal]="_total" [nzPageSize]="10"
        (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageSizeChange)="refreshStatus()" (nzPageIndexChange)="pageChange($event)"
        [nzLoading]="loading">
        <thead class="table-thead">
            <tr>

                <th>商品名称</th>
                <th>生产厂家</th>
                <th>商品规格</th>
                <th>商品类型</th>
                <th>库存量</th>
                <th>销售单价</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td>{{data?.name}}</td>
                <td>{{data?.company?.companyName}}</td>
                <td>{{data?.size}}</td>
                <td>{{data?.goodType?.type}}</td>
                <td>{{data?.number}}</td>
                <td>{{data?.price}}</td>
                <td>
                    <a (click)="sales(data)">出售</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
<nz-modal class="popup-module" [(nzVisible)]="isVisible" [nzTitle]="title" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>
        <em>商品分类</em>
        <span>{{type}}</span>
    </div>
    <div>
        <em>商品名称</em>
        <span>{{name}}</span>
    </div>
    <div>
        <em>商品规格</em>
        <span>{{size}}</span>
    </div>
    <div>
        <em>生产厂家</em>
        <span>{{companyName}}</span>
    </div>
    <div>
        <em>出库分类</em>
        <span>销售</span>
    </div>
    <div>
        <em>销售单价</em>
        <span>{{price}}</span>
    </div>
    <div>
        <em>销售数量</em>
        <input type="text" [(ngModel)]="saleItem.number" (ngModelChange)="changeSaleNum(saleItem.number)">
    </div>
    <div>
        <em>销售总价</em>
        <span>{{salesPrice ? salesPrice : '--'}}</span>
    </div>
    <div>
        <em>销售日期</em>
        <span>{{showTime}}</span>
    </div>
    <div>
        <em>活动名称</em>
        <nz-select class="common-select" style="width: 200px;height: 30px;" [(ngModel)]="activity" 
        (ngModelChange)="changeSaleDiscount(activity)" nzAllowClear>
            <nz-option *ngFor="let option of activityList" [nzLabel]="option.name" [nzValue]="option.id">
            </nz-option>
        </nz-select>
    </div>
    <div>
        <em>实际售价</em>
        <span>{{confirmPrice ? confirmPrice : '--'}}</span>
    </div>
    <div>
        <em>客户名称</em>
        <input type="text" [(ngModel)]="saleItem.customer_name">
    </div>
    <div>
        <em>联系电话</em>
        <input type="text" [(ngModel)]="saleItem.customer_phone">
    </div>
    <div>
        <em>操作人</em>
        <span>{{staffName}}</span>
    </div>
</nz-modal>