<div class="sales">
    <nz-table [nzShowTotal]="rangeTemplate" #rowSelectionTable [nzData]="orderList" [nzPageIndex]='nowPage' [nzTotal]="_total"
        [nzPageSize]="10" (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageSizeChange)="refreshStatus()" (nzPageIndexChange)="pageChange($event)"
        [nzLoading]="loading">
        <thead class="table-thead">
            <tr>
                <!-- // 商品分类:欧式、中式；商家名称，代码；商品基本信息：名称、代码、生产厂家、
尺寸、颜色、生产日期，进销存（补货提示，商品降价促销），利润结算等功能。 -->
                
                <th>商品名称</th>
                <th>生产厂家</th>
                <th>销售价格</th>
                <th>销售数量</th>
                <th>销售总价</th>
                <th>折扣</th>
                <th>实销总价</th>
                <th>退货数量</th>                
                <th>退款</th>
                <th>操作时间</th>
                <th>客户名称</th>
                <th>客户联系电话</th>
                <th>销售员</th>
                <th>销售员联系电话</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td>{{data?.goodsName}}</td>
                <td>{{data?.companyName}}</td>
                <td>{{data?.price}}</td>
                <td>{{data?.number}}</td>
                <td>{{data?.totalPrice}}</td>
                <td>{{data?.discount}}</td>
                <td>{{data?.confirmPrice}}</td>
                <td>{{data?.returnNum}}</td>
                <td>{{data?.returnPrice? data?.returnPrice : '--'}}</td>
                <td>{{data?.createDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{data?.customerName}}</td>
                <td>{{data?.customerPhone? data?.customerPhone : '--'}}</td>
                <td>{{data?.staffName}}</td>
                <td>{{data?.staffPhone? data?.staffPhone : '--'}}</td>
                <td>{{data?.status}}</td>
                <td>
                    <a (click)="returnSales(data)">退货</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
<nz-modal class="popup-module" [(nzVisible)]="isVisible" [nzTitle]="title" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div><em>商品名称</em><span>{{sale.goodsName}}</span></div>
    <div><em>生产厂家</em><span>{{sale.companyName}}</span></div>
    <div><em>入库分类</em><span>退货</span></div>
    <div><em>销售价格</em><span>{{sale.price}}</span></div>
    <div><em>销售数量</em><span>{{sale.number}}</span></div>
    <div><em>销售总价</em><span>{{sale.totalPrice}}</span></div>
    <div><em>销售日期</em><span>{{sale.createDate | date: 'yyyy-MM-dd'}}</span></div>
    <div><em>折扣</em><span>{{sale.discount}}</span></div>
    <div><em>实销总价</em><span>{{sale.confirmPrice}}</span></div>
    <div><em>退货数量</em><input type="text" [(ngModel)]="sale.returnNum"></div>
    <div><em>退货总价</em><span>自己算</span></div>
    <div><em>退货日期</em><span>展示默认今天</span></div>
    <div><em>客户名称</em><span>{{sale.customerName}}</span></div>
    <div><em>联系电话</em><span>{{sale.customerPhone}}</span></div>
    <div><em>操作人</em><span>默认登陆人</span></div>
</nz-modal>